body {
    background-color: #111;
    margin: 0;
    padding: 0;
    border-style: border-box;
    font-family: 'VT323', monospace;
    color: white;
}

[data-tab-content] {
    display: none;
}

.active[data-tab-content] {
    display: block;
}

.hero {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(img/computerGIF4.gif);
    background-size: cover;
    background-position: center;
}

.sm-monitor{
    position: relative;
    overflow: hidden;
    transform: skew(10deg, -4deg);
    width: 340px;
    height: 195px;
    top: 58%;
    left: 9.5%;
    background-color: black;
    text-align: center;
}

.intro {
    width: 430px;
    margin: 8rem 5rem 0rem 5rem;
    position: absolute;
    display: flex;
    flex-direction: column;
}

.intro h1{
    cursor: pointer
}

.intro ul{
    margin-top: 0rem;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.intro li{
    color: white;
    font-size: 175%;
    margin: 0;
}

.intro li a{
    text-decoration: none;
    color: white;
}

.tabs{
    cursor: pointer;
    transition: 0.5s;
}

.tabs:hover{
    color: rgb(255, 255, 100);
}

.tabs.active{
    color: yellow;
}

.intro h1 {
    text-align: center;
    font-size: 450%;
    margin: 1rem;
}

span{
    color: yellow;
}

.sm-monitor h2{
    margin: 1rem;
    margin-top: 2rem;;
    font-size: 300%;
    color: yellow;
}

.sm-monitor b{
    margin: 0rem;
    font-size: 150%;
}

.bg-monitor {
    position: relative;
    overflow: hidden;
    width: 782px;
    height: 408px;
    top: -8.75%;
    left: 36.25%;
}

.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(150, 150, 250, 0.1), rgba(0,0,0,0.5))
}

.txt-monitor h1{
    padding: 1rem;
    position: absolute;
    margin: 0;
    font-size: 300%;
}

.txt-monitor p{
    padding: 5rem 1rem 1rem 1rem;
    position: absolute;
    margin: 0;
    font-size: 150%;
}

.bg-monitor .txt-monitor img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info{
    padding: 4rem 1rem 1rem 1rem;
    position: absolute;
    margin: 0;
    font-size: 90%;
}

.info .links a{
    text-decoration: none;
    color: white;
    font-size: 200%;
}

.projects{
    padding: 1rem;
}

.projects .grid-cnt{
    margin: 0% 10% 1rem 10%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "main main p1"
    "p2 p3 p3";
    grid-gap: 20px;
}

.projects .main {
    grid-area: main;
}

.projects .p1 {
    grid-area: p1;
}

.projects .p2 {
    grid-area: p2;
}

.projects .p3 {
    grid-area: p3;
}

.box{
    position: relative;
    height: 11rem;
    overflow: hidden;
    transition: 0.5s;
}

.box:hover{
    z-index: 1;
    box-shadow: 0px 10px 20px black;
}

.box .img-box::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(180deg, transparent, #000);
    opacity: .5;
    transition: 0.5s;
}

.box:hover .img-box::before{
    opacity: .65;
}

.box .img-box img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .5;
}
.box .text-ctr{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    padding: 20px;
    align-items: flex-end;
    display: block;
    color:white;
    transition: 0.3s;
}

.box .text-ctr:hover{
    transform: scale(.98);
}

.text-ctr .text-title{
    margin-top: 2rem;
}

.text-ctr b{
    letter-spacing: 5px;
    font-size: 100%;
    text-transform: uppercase;
}


.text-title h2{
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 2rem;
    margin: 0;
    overflow: hidden;
}

.text-title p{
    font-size: 1.2rem;
    font-weight: bold;
}

.text-title a{
    letter-spacing: 5px;
    text-transform: uppercase;
    color: white;
    font-size: 1rem;
    text-decoration: none;
    cursor: pointer;
}
